[Unit]
Description=Aplicacion para control del agua

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/Hidroponia/app.sh

[Install]
WantedBy=multi-user.target
